body {
    height: 100%;
    width: auto;
    background-color: rgba(12,12,12);
}

li {
    list-style: none;
}

.text-frame {
    width: 100%;
    /*border: solid 1px aliceblue;*/
    height: 80%;
}

.notice {
    display: block;
    width: min-content;
    color: aliceblue;
    font-size: 35px;
    opacity: 0.3;
    border: solid aliceblue 1px;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    margin: 7px auto;
    left: 0;
    right: 0;
    word-break: keep-all;
}

.user-msg {
    display: block;
    font-size: 50px;
    color: rgba(246,250,243);
}