<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlineRoom</title>
    <link rel="stylesheet" type="text/css" href="./main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div style="background-color: rgba(12,12,12,12);height: 100%;width: 100%;margin-top: 0;padding: 0 0;">
    <div class="text-frame" id="app2">
        <span v-for="msg in msgList" v-bind:class="msg.cls">
            <span v-if="msg.cls == 'notice'">
                {{msg.text}}
            </span>

            <span v-if="msg.cls == 'user-msg'">
                <span v-bind:class="msg.alias"></span>
                <span v-bind:class="msg.color">{{msg.text}}}</span>
            </span>
        </span>
    </div>

    <div class="input-frame" id="app3" align="center">
        <input type="text" placeholder="input..." v-model="umsg">
        <button type="submit" v-on:click="sendMsg">Post !</button>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>